body {
    background-color: #ffffff;
}
.landing {
    margin-top : 40vh;
}

.landing-title p {
    margin: 25px 0px;
    color: #b5b5b5;
    font-size: 13px;
}

.login {
    margin-top : 25vh;
}

.login-form {
    margin-top: 75px;
}

.btn-login {
    margin-top: 40px;
    margin-bottom: 60px;
}

input[type=text] {
    padding: 23px;
    border: 1px solid #e5e5e5;
}
input[type=text]::placeholder {
    color: #e5e5e5;
  }