/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body, html {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgb(73,168,217);
    background: linear-gradient(0deg, rgba(73,168,217,1) 48%, rgba(216,242,255,1) 100%);
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}
#sidebar .header-title {
    color:#1e3773;
    font-size: 9px;
}

#sidebar .sidebar-footer .card {
    margin-top: 100px;
    background: linear-gradient(180deg, rgb(0, 103, 187) 0%, rgb(3, 169, 251) 50%);
    padding: 0;
}

#sidebar .sidebar-header .sidebar-header-subtitle{
    font-size: 12px;
    color: #1e3773;
}

#sidebar ul.components {
    /* padding: 20px 0; */
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 15px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a.main-menu {
    border-top: solid 1px #fff;
}

#sidebar ul.submenu li a {
    padding-left: 55px;
}

#sidebar ul li a:hover {
    /* filter: invert(0.5) sepia(1); */
    color: #1e3773 !important;
    background: #22c0e9;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #1e3773;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul.submenu li a {
    font-size: 0.9em !important;
    padding-left: 100px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
}

a.article,
a.article:hover {
    color: #fff !important;
}

.header-name {
    font-weight: bold;
    font-size: 13px;
}
.sub-header-name {
    font-size: 12px;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 10px 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebarCollapse.none {
        display: inherit;
    }

    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        padding: 10px 20px;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
    .left-menu-m { 
        margin-left: 0 !important; 
        margin-right: 0 !important;
    }
}

/* ---------------------------------------------------
    INPUT STYLE
----------------------------------------------------- */

input[type=text].newForm,
input[type=number].newForm,
input[type=email].newForm,
select.newForm {
    padding: 12px 0;
    border: none;
    margin: 0;
    background: none;
    border-bottom: 2px solid #b5b5b5;
    box-shadow: 0 0 0 rgb(255, 255, 255);
}

select.newForm {
    padding: 0px !important;
    margin-top: 6px !important;

}

.btn-custom {
    padding: 7px 30px;
    background: rgb(73,168,217);
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}
.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.card-img {
    border: 1px solid #e5e5e5;
    box-shadow: 3px 3px 3px #e5e5e5;
    border-radius: 10px 0px 0px 10px;
    padding: 15px;
}

.card-list {
    padding: 10px;
}
.card-list p {
    font-size: 12px;
    color: #000000;
}
.card-content {
    border: 1px solid #e5e5e5;
    box-shadow: 3px 3px 3px #e5e5e5;
    border-radius: 0px 10px 10px 0px;
    padding: 15px;
}

.card-btn {
    font-size: 11px !important;
    padding: 10px;
}

.border-shadow {
    box-shadow: 3px 3px 3px #e5e5e5;
}

.card-header.custom {
    background: rgb(73,168,217);
    color: #ffffff;
    width: 150px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    margin-left: 30px;
    padding: 9px !important;
}

.card {
    border-radius: 10px;
}

.left-menu-m { 
    margin-left: -31px; 
    margin-right: -31px;
}
.left-menu {
    height: 163vh;
    z-index: 999;
}
.left-menu-content{
    border-bottom: 1px solid #b5b5b5;
    padding: 15px;
    
}
.left-menu-content.active{
    background-color: #f5f5f5;   
}
.left-menu-content:hover{
    background-color: #f5f5f5;   
}
.left-menu-content p{
    padding: 0;
    margin: -5px;
    font-size: 15px !important;
    font-weight: bold;
    color: #000000;
}

.border-radius-0 {
    border-radius: 0px;
}

.header-title {
    font-size: 13px;
}

.border-form {
    border-bottom: 5px solid #000000;
}

.form-no-input {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 7px 15px;
    margin-bottom: 15px;
    background: #ffffff;;
}

.mini-checkbox {
    font-size: 10px;
}

.card-body.schedule {
    position: relative;
    border-radius: 10px;
} 
  
div.absolute {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    background: red;
    opacity: 0.9;
    border-radius: 10px;
    color: #ffffff;
}

.box-shadow {
    box-shadow: 3px 3px 3px #e5e5e5;
}

.border-radius-5 {
    border-radius: 5px;
}

.btn-black {
    background: #000000;
    color: #fff;
}